.DS_Store
.eprj
config/initializers/paperclip.rb
log/*.log
tmp/**/*
nbproject
config/database.yml
db/*.sqlite3
webrat-*.html
rerun.txt
public/assets
public/system
.rvmrc
config/setup_load_paths.rb
.bundle
