%table
  %thead
  %tbody
    %tr
      %td Naziv
      %td= translation.title
    %tr
      %td Naziv na naslovnici
      %td= translation.displayed_title
    %tr
      %td Podnaslov
      %td= translation.subtitle
    %tr
      %td Besedilo
      %td= translation.body
